### SVC

## 1 Данные

In [6]:
import pandas as pd

In [7]:
data=pd.read_csv('/home/lina/Рабочий стол/ML/lab2/data.csv')
data

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,...,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993
72979,73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,...,10151.0,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038
72980,73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,...,11831.0,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893
72981,73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,...,10099.0,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974
72982,73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,...,11954.0,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313

In [8]:
f = open('/home/lina/Рабочий стол/ML/lab2/Data_Dictionary.txt', 'r')
while True:
    line = f.readline()
    if line == '':
        break
    print(line)

Field Name				Definition

RefID				        Unique (sequential) number assigned to vehicles

IsBadBuy				Identifies if the kicked vehicle was an avoidable purchase

PurchDate				The Date the vehicle was Purchased at Auction

Auction					Auction provider at which the  vehicle was purchased

VehYear					The manufacturer's year of the vehicle

VehicleAge				The Years elapsed since the manufacturer's year

Make					Vehicle Manufacturer

Model					Vehicle Model

Trim					Vehicle Trim Level

SubModel				Vehicle Submodel

Color					Vehicle Color

Transmission				Vehicles transmission type (Automatic, Manual)

WheelTypeID				The type id of the vehicle wheel

WheelType				The vehicle wheel type description (Alloy, Covers)

VehOdo					The vehicles odometer reading

Nationality				The Manufacturer's country

Size					The size category of the vehicle (Compact, SUV, etc.)

TopThreeAmericanName			Identifies if the manufacturer is one of the top three American manufacturers

MMRAcquisitionAuctionAveragePrice	Acquisition price for this vehicle in average condition at time of purchase

MMRAcquisitionAuctionCleanPrice		Acquisition price for this vehicle in the above Average condition at time of purchase

MMRAcquisitionRetailAveragePrice	Acquisition price for this vehicle in the retail market in average condition at time of purchase

MMRAcquisitonRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition at time of purchase

MMRCurrentAuctionAveragePrice		Acquisition price for this vehicle in average condition as of current day

MMRCurrentAuctionCleanPrice		Acquisition price for this vehicle in the above condition as of current day

MMRCurrentRetailAveragePrice		Acquisition price for this vehicle in the retail market in average condition as of current day

MMRCurrentRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition as of current day

PRIMEUNIT				Identifies if the vehicle would have a higher demand than a standard purchase

AcquisitionType				Identifies how the vehicle was aquired (Auction buy, trade in, etc)

AUCGUART				The level guarntee provided by auction for the vehicle (Green light - Guaranteed/arbitratable, Yellow Light - caution/issue, red light - sold as is)

KickDate				Date the vehicle was kicked back to the auction

BYRNO					Unique number assigned to the buyer that purchased the vehicle

VNZIP                                   Zipcode where the car was purchased

VNST                                    State where the the car was purchased

VehBCost				Acquisition cost paid for the vehicle at time of purchase

IsOnlineSale				Identifies if the vehicle was originally purchased online

WarrantyCost                            Warranty price (term=36month  and millage=36K)

### Обработка данных

In [9]:
import numpy as np
from sklearn import *
data=data[[ 'VehicleAge','IsBadBuy','Transmission','VehOdo','MMRAcquisitionAuctionAveragePrice',
           'MMRAcquisitionRetailAveragePrice','MMRCurrentAuctionAveragePrice', 'MMRCurrentRetailAveragePrice',
           'VehBCost','TopThreeAmericanName']]
data=data.dropna()
data.loc[data['Transmission']=='AUTO', 'Transmission'] =1
data.loc[data['Transmission']=='MANUAL', 'Transmission'] =0
data.loc[data['Transmission']=='Manual', 'Transmission'] =0
data.loc[data['TopThreeAmericanName']=='OTHER', 'TopThreeAmericanName'] =0
data.loc[data['TopThreeAmericanName']=='FORD', 'TopThreeAmericanName'] =1
data.loc[data['TopThreeAmericanName']=='CHRYSLER', 'TopThreeAmericanName'] =1
data.loc[data['TopThreeAmericanName']=='GM', 'TopThreeAmericanName'] =1

data['MMRAcquisitionAuctionAveragePrice'] = data['MMRAcquisitionAuctionAveragePrice']*100 /data['VehBCost']
data['MMRAcquisitionRetailAveragePrice'] = data['MMRAcquisitionRetailAveragePrice']*100 /data['VehBCost']
data['MMRCurrentAuctionAveragePrice'] = data['MMRCurrentAuctionAveragePrice'] *100/data['VehBCost']
data['MMRCurrentRetailAveragePrice'] = data['MMRCurrentRetailAveragePrice']*100 /data['VehBCost']
data['VehOdo'] = data['VehOdo'] /100000


target=data[['IsBadBuy']]
data=data.drop(['IsBadBuy','VehBCost'],axis=1)
x_train, x_test, y_train, y_test = data[:70000],data[70000:],target[:70000],target[70000:]
x_test

,VehicleAge,Transmission,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionRetailAveragePrice,MMRCurrentAuctionAveragePrice,MMRCurrentRetailAveragePrice,TopThreeAmericanName
70309,6,1,0.83241,58.833333,111.875000,58.013889,97.027778,1
70310,7,1,0.78034,77.797619,116.511905,76.476190,113.154762,0
70311,4,1,0.77207,80.030000,132.210000,93.490000,129.210000,0
70312,7,1,0.82667,62.942529,103.919540,67.103448,106.758621,1
70313,2,1,0.61319,97.844156,146.675325,101.155844,149.766234,1
...,...,...,...,...,...,...,...,...
72978,8,1,0.45234,47.523810,63.238095,52.142857,115.142857,1
72979,2,1,0.71759,103.516129,119.854839,109.435484,163.725806,1
72980,4,1,0.88500,104.207317,118.646341,102.134146,144.280488,1
72981,3,1,0.79554,91.714286,106.200000,94.142857,144.271429,1
72982,3,1,0.66855,94.187500,107.975000,96.625000,149.425000,0

## Построение SVC

In [10]:
%%time
from sklearn.svm import SVC
import warnings; warnings.simplefilter('ignore')

model = SVC(kernel='rbf')
model.fit(x_train, y_train)
pred=model.predict(x_test)
print(metrics.classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2253
           1       0.00      0.00      0.00       405

    accuracy                           0.85      2658
   macro avg       0.42      0.50      0.46      2658
weighted avg       0.72      0.85      0.78      2658

CPU times: user 1min 47s, sys: 82 ms, total: 1min 47s
Wall time: 1min 39s